.container{
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    background-size: cover;
  }
  .view {
   height: 100vh !important;
  }